button{
    background: #ff0000;
    color: aliceblue;
}
#para1{
    background: #00ff15;
    color: #eb3209;
}
#para2{
    background: #eb3209;
    color: #00ff15;
}

.content{
    background: #001aff;
    color: aqua;
}
.box{
    margin-left: 100px;
    padding-left: 20px;
    color: #eb3209;   
}
.outer-box{
    border: solid 10px;
    width: 500px;
    height: 300px;
    background: #00ff15;
}
.inner-div{
    padding: 1px;
    width: 250px;
    height: 150px;
    background: #001aff;
    color: #d8e20a;
}
